.App {
  text-align: center;
  background-color: #282c34;

}

.Body {
  margin-top: 5vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  color: white;  
  font-size: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid red;
  padding-top: 10px;
  
}

.INPUT{
  width: 80vh;
  height: 7vh;
  font-size: 1.5rem;
  text-align: center;
}
.suggetshow{
  background-color: white;
  width: 80vh;
  color: black;
  border: 1px solid skyblue;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suggetshow:hover
{color: blue;
cursor: pointer;}
.boxing{
  border: 1px solid skyblue;
  height: 30vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.79);
  margin-top: 30px;

  
}